<a href="https://colab.research.google.com/github/Luke0071990/data-science_bootcamp/blob/main/02_analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

In [25]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

In [26]:
apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

In [19]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2023-07-06 to 2018-07-09
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1257 non-null   float64
 1   High    1257 non-null   float64
 2   Low     1257 non-null   float64
 3   Close   1257 non-null   float64
 4   Volume  1257 non-null   float64
dtypes: float64(5)
memory usage: 58.9 KB

In [20]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1046 entries, 2023-07-06 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1046 non-null   float64
 1   High    1046 non-null   float64
 2   Low     1046 non-null   float64
 3   Close   1046 non-null   float64
 4   Volume  1046 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 49.0 KB

In [21]:
apple.head()

               Open    High     Low   Close      Volume
Date
2023-07-06  189.840  192.02  189.20  191.81  45156009.0
2023-07-05  191.565  192.98  190.62  191.33  46920261.0
2023-07-03  193.780  193.88  191.76  192.46  31458198.0
2023-06-30  191.630  194.48  191.26  193.97  85213216.0
2023-06-29  189.080  190.07  188.94  189.59  46347308.0

Preprocessing

In [27]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [28]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-07-06     189.840      192.02     189.20       191.81    45156009.0
2023-07-05     191.565      192.98     190.62       191.33    46920261.0
2023-07-03     193.780      193.88     191.76       192.46    31458198.0
2023-06-30     191.630      194.48     191.26       193.97    85213216.0
2023-06-29     189.080      190.07     188.94       189.59    46347308.0

Konkatenacja

In [31]:
df = pd.concat(objs = [apple, amazon, google, uber], axis = 1)

In [35]:
# pd.set_options('display.float_format', lambda x: f'{x:.2f}') nie aktualna składnia
pd.set_option('display.float_format', '{:.2f}'.format)
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,108.84,46.66,34.74,55.32,122.59,148.13,193.78
apple_high,1257.00,110.16,47.20,35.16,55.87,123.83,149.98,194.48
apple_low,1257.00,107.63,46.16,34.26,54.78,120.96,146.83,191.76
apple_close,1257.00,108.96,46.71,34.31,55.43,122.69,148.39,193.97
apple_volume,1257.00,112059129.98,56440096.37,31458198.00,75440280.25,96909782.69,132036824.87,434708544.96
amazon_open,1257.00,122.98,33.10,67.30,92.73,114.08,158.34,187.20
amazon_high,1257.00,124.51,33.41,69.80,93.82,116.58,159.94,188.65
amazon_low,1257.00,121.33,32.72,65.35,91.59,112.70,156.25,184.84
amazon_close,1257.00,122.93,33.02,67.20,92.88,114.56,158.10,186.57
amazon_volume,1257.00,82767917.81,38268244.61,17626740.00,56970660.00,71472908.00,97614160.00,311345660.00
google_open,1257.00,90.85,29.64,49.22,62.00,88.16,115.23,151.25
google_high,1257.00,91.91,29.94,50.61,62.33,88.89,116.75,151.55
google_low,1257.00,89.84,29.30,48.88,61.26,87.07,113.85,148.90
google_close,1257.00,90.90,29.62,49.23,61.84,88.08,115.13,149.84
google_volume,1257.00,34802193.35,15478655.14,9312760.00,25110140.00,31003900.00,39900380.00,133177100.00
uber_open,1046.00,37.11,9.43,15.96,30.27,34.77,43.55,63.25
uber_high,1046.00,37.87,9.51,17.80,30.90,35.35,44.28,64.05
uber_low,1046.00,36.30,9.28,13.71,29.56,33.97,42.82,60.80
uber_close,1046.00,37.09,9.37,14.82,30.27,34.69,43.48,63.18
uber_volume,1046.00,25380277.62,16294966.22,3380003.00,15921609.50,21612023.00,30174429.75,186322536.00

In [36]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.43,0.63,0.64,0.63,0.63,-0.32,0.90,0.91,0.90,0.90,-0.09,0.07,0.07,0.08,0.07,0.09
apple_high,1.00,1.00,1.00,1.00,-0.43,0.63,0.64,0.63,0.63,-0.32,0.90,0.91,0.90,0.90,-0.08,0.07,0.07,0.07,0.07,0.09
apple_low,1.00,1.00,1.00,1.00,-0.44,0.63,0.64,0.63,0.63,-0.33,0.91,0.91,0.90,0.91,-0.09,0.08,0.08,0.08,0.08,0.08
apple_close,1.00,1.00,1.00,1.00,-0.43,0.63,0.64,0.63,0.63,-0.33,0.90,0.91,0.90,0.91,-0.09,0.07,0.07,0.08,0.07,0.09
apple_volume,-0.43,-0.43,-0.44,-0.43,1.00,-0.16,-0.16,-0.17,-0.17,0.59,-0.44,-0.44,-0.45,-0.45,0.45,-0.15,-0.15,-0.17,-0.16,0.23
amazon_open,0.63,0.63,0.63,0.63,-0.16,1.00,1.00,1.00,1.00,-0.21,0.73,0.72,0.73,0.73,-0.12,0.59,0.59,0.59,0.59,-0.03
amazon_high,0.64,0.64,0.64,0.64,-0.16,1.00,1.00,1.00,1.00,-0.20,0.73,0.73,0.73,0.73,-0.11,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.63,0.63,0.63,0.63,-0.17,1.00,1.00,1.00,1.00,-0.23,0.73,0.72,0.73,0.73,-0.13,0.60,0.60,0.60,0.60,-0.04
amazon_close,0.63,0.63,0.63,0.63,-0.17,1.00,1.00,1.00,1.00,-0.21,0.73,0.73,0.73,0.73,-0.13,0.59,0.59,0.59,0.59,-0.03
amazon_volume,-0.32,-0.32,-0.33,-0.33,0.59,-0.21,-0.20,-0.23,-0.21,1.00,-0.34,-0.33,-0.34,-0.34,0.54,-0.16,-0.16,-0.18,-0.17,0.24
google_open,0.90,0.90,0.91,0.90,-0.44,0.73,0.73,0.73,0.73,-0.34,1.00,1.00,1.00,1.00,-0.13,0.24,0.24,0.24,0.24,0.09
google_high,0.91,0.91,0.91,0.91,-0.44,0.72,0.73,0.72,0.73,-0.33,1.00,1.00,1.00,1.00,-0.12,0.24,0.24,0.24,0.24,0.09
google_low,0.90,0.90,0.90,0.90,-0.45,0.73,0.73,0.73,0.73,-0.34,1.00,1.00,1.00,1.00,-0.15,0.25,0.25,0.25,0.25,0.08
google_close,0.90,0.90,0.91,0.91,-0.45,0.73,0.73,0.73,0.73,-0.34,1.00,1.00,1.00,1.00,-0.14,0.24,0.24,0.24,0.24,0.08
google_volume,-0.09,-0.08,-0.09,-0.09,0.45,-0.12,-0.11,-0.13,-0.13,0.54,-0.13,-0.12,-0.15,-0.14,1.00,-0.16,-0.15,-0.17,-0.16,0.27
uber_open,0.07,0.07,0.08,0.07,-0.15,0.59,0.58,0.60,0.59,-0.16,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.20
uber_high,0.07,0.07,0.08,0.07,-0.15,0.59,0.58,0.60,0.59,-0.16,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.18
uber_low,0.08,0.07,0.08,0.08,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.22
uber_close,0.07,0.07,0.08,0.07,-0.16,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.20
uber_volume,0.09,0.09,0.08,0.09,0.23,-0.03,-0.03,-0.04,-0.03,0.24,0.09,0.09,0.08,0.08,0.27,-0.20,-0.18,-0.22,-0.20,1.00

In [37]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [38]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-07-09        45.67         86.95         58.36         NaN
2018-07-10        45.61         87.15         58.36         NaN
2018-07-11        45.02         87.75         58.57         NaN
2018-07-12        45.78         89.83         60.06         NaN
2018-07-13        45.85         90.65         60.22         NaN
...                 ...           ...           ...         ...
2023-06-29       189.59        127.90        119.10       42.58
2023-06-30       193.97        130.36        119.70       43.17
2023-07-03       192.46        130.22        119.90       43.09
2023-07-05       191.33        130.38        121.75       43.66
2023-07-06       191.81        128.36        120.11       42.11

[1257 rows x 4 columns]

In [39]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.63          0.91        0.07
amazon_close         0.63          1.00          0.73        0.59
google_close         0.91          0.73          1.00        0.24
uber_close           0.07          0.59          0.24        1.00

In [40]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [41]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.43,0.63,-0.33,0.91,-0.09,0.07,0.09
apple_volume,-0.43,1.00,-0.17,0.59,-0.45,0.45,-0.16,0.23
amazon_close,0.63,-0.17,1.00,-0.21,0.73,-0.13,0.59,-0.03
amazon_volume,-0.33,0.59,-0.21,1.00,-0.34,0.54,-0.17,0.24
google_close,0.91,-0.45,0.73,-0.34,1.00,-0.14,0.24,0.08
google_volume,-0.09,0.45,-0.13,0.54,-0.14,1.00,-0.16,0.27
uber_close,0.07,-0.16,0.59,-0.17,0.24,-0.16,1.00,-0.20
uber_volume,0.09,0.23,-0.03,0.24,0.08,0.27,-0.20,1.00

Metoda append

In [42]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-06      42.99      43.00     41.87       42.11     18048160
2023-07-05      42.89      43.88     42.89       43.66     15730395
2023-07-03      43.17      43.40     42.58       43.09      7578076
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285

In [47]:
uber6 = uber[uber.index.month == 6]
uber6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[106 rows x 5 columns]

In [48]:
uber7 = uber[uber.index.month == 7]
uber7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-07-06      42.99      43.00     41.87       42.11     18048160
2023-07-05      42.89      43.88     42.89       43.66     15730395
2023-07-03      43.17      43.40     42.58       43.09      7578076
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[88 rows x 5 columns]

In [50]:
uber_6_7 = uber6.append(uber7)

<ipython-input-50-d6af1d876b23>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  uber_6_7 = uber6.append(uber7)

In [51]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-06-30      43.11      43.43     42.92       43.17     17589240
2023-06-29      44.09      44.28     42.11       42.58     28595285
2023-06-28      43.50      45.24     43.32       44.24     28187374
2023-06-27      44.69      44.83     43.75       43.83     29652066
2023-06-26      43.75      45.04     43.68       44.42     33692974
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[194 rows x 5 columns]